/* General */

html,
body {
    position: absolute;

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    background-image: url(../images/bg2.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
}

/* Main Page */

#wrapper {
    height: 100vh;
    width: 100vw;
}

/* Bookmarks */

#navbar {
    display: flex;
    flex-wrap: nowrap;
}

.nav-item {
    height: 30vh;
    width: 12vw;
    margin: 1vh 0 1vh 1vh;

    text-align: center;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.nav-item p {
    font-family: Josefin Sans;
    font-size: 7vh;
    color: white;
    text-transform: lowercase;
    line-height: 15px;
}

/* TIL */

#til-wrapper {
    width: 47vw;
    padding: 0 2vh;
}

#til-text {
    font-size: 4vh;
    line-height: normal;
    text-align: left;
    text-transform: none;
}

/* Search Bar */

#searchbar {
    height: 8vh;
    width: 49vw;
    margin: 5vh 0vh 1vh 1vh;
    border: none;
    font-family: Josefin Sans;
    font-size: 7vh;
    color: white;
    background: rgba(0, 0, 0, 0.15);
}

#searchbar:focus {
    background-color: rgba(0, 0, 0, 0.4);
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4vh;
}

#word-of-the-week {
    color: white;
    font-family: Josefin Sans;
    background: linear-gradient(to bottom, rgba(214, 0, 0, 0.45), rgba(0, 0, 0, 0));
}

.footer-item {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    width: 20%;
    padding: 0 2vh;
}
