/* General */
html,
body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
    !important
}

/* Main Page */
#wrapper {
    height: 100vh;
    width: 100vw;
}

/* Bookmarks */
#navbar{
    display: flex;
    flex-wrap: nowrap;
}

.nav-item {
    height: 30vh;
    width: 12vw;
    margin: 1vh 0vh 1vh 1vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    text-align: center;
}

.nav-item p {
    font-family: Josefin Sans;
    font-size: 7vh;
    color: white;
    text-transform: lowercase;
    line-height: 15px;
}

/* TIL */
#tilBox{
    height: 63vh;
    width: 62vw;
    margin-left: 1vh;
    padding: 0;
}

#tilText{
    font-family: Josefin Sans;
    font-size: 5vh;
    color: white;
}

/* Footer */
#footer {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: auto;
    bottom: 0;
}

.footerItem{
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, rgba(0,0,0,0), rgba(255,255,255,0.15));
    width: 20vw;
    height: auto;
    font-family: Josefin Sans;
    font-size: 3vh;
    text-align: center;
    color: white;
}

