html,
body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: none;
    background: none;
    background-color: green;
}

.nav-item{
    display: block;
    height: 20vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: indianred;
    text-align: center;
}

.nav-item:hover{
    background-color: #ac3e3e;
}

a {
    text-decoration: none;
    !important
}

.nav-item p {
    font-family: Josefin Sans;
    font-size: 70px;
    color: white;
    text-transform: lowercase;
    line-height: normal;
    padding: 0;
    margin: 0;
}

#bigbox{
    display: none;
}