html,
body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
}

.nav-item {
    display: inline-grid;
    height: 30vh;
    width: 12vw;
    margin: 1vh 0vh 1vh 1vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    text-align: center;
}

a {
    text-decoration: none;
    !important
}

.nav-item p {
    font-family: Josefin Sans;
    font-size: 70px;
    color: white;
    text-transform: lowercase;
    line-height: 15px;
}

#nav {
    height: 100vh;
    width: 100vw;
}

#bigbox {
    width: 63vw;
    height: 58vh;
    position: absolute;
    top: 31vh;
    left: 1vw;
}

#greeting {
    margin: 2vw;
    color: white;
    font-family: Josefin Sans;
    font-size: 30px;
    text-align: justify;
}
