html, body{
    background: #0050bc;
    font: 30px Bungee;
}

a{
    color:#ffffff;
    text-shadow: 2px 2px 2px #000000;
}

.nav{
    display:inline-block;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.nav:hover{
	background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0, 0, 0, 0));
    box-shadow: 0px 3px #ffffff;
}



