html, body{
    background: #760020;
    font: 30px Lobster;
}

a{
    color:#ffffff;
}

.nav{
    display: inline-block;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all ease .15s;
}

.nav:hover{
    box-shadow: 0px 2px #ffffff;  
}