/* General */

html, body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(71, 71, 71);
  background-size: cover;
  font-family: Josefin Sans;
}

a {
  text-decoration: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.clearance {
  width: 60%;
  margin: 2vh auto;
}

.circular {
  border-radius: 100vh;
}

#image {
  width: 20vw;
  height: 20vw;
  background: url(../images/zoro.gif) no-repeat center center;
  background-size: cover;
}

#searchbar {
  height: 7vh;
  background-color: white;
}

#bookmarks {
  height: 10vh;
}

#bookmarks-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vh;
  margin: auto;
}

.bookmark {
  margin: 0 1vw;
  height: 10vh;
  width: 10vh;
  background-color: rgb(235, 221, 164);
  text-align: center;
}

.bookmark img {
  height: 100%;
  width: 75%;
  display: block;
  margin: auto;
}

.til-text {
  font-size: 3vh;
  color: white;
}
