/* General */

html,
body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(71, 71, 71);
    font-family: Josefin Sans, sans-serif;
}

a {
    text-decoration: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.clearance {
    width: 60%;
    margin: 2vh auto;
}

.circular {
    border-radius: 100vh;
}

.icon {
    display: block;
    height: 100%;
    width: 75%;
    margin: auto;
}

#image {
    width: 20vw;
    height: 20vw;

    background: url(../svg/zoro.svg) no-repeat center center;
    background-size: cover;
}

/* search bar */
#search-wrapper{
    height: 7vh;    
    
    background-color: white;
}

#searchbar {
    height: 6.5vh;
    width: 100%;
    margin-left: 2vw;

    border: none;

    font-family: Josefin Sans, sans-serif;
    font-size: 3vh;
}

#search-button {
    height: 7vh;
    width: 10vh;

    border: none;
    background-color: white;
}

/* bookmarks */
.bookmarks {
    height: 7vh;
    margin: 0 auto;
}

.bookmark-item {
    width: 7vh;
    background-color: white;
}

.til-text {
    font-size: 3vh;
    color: white;
}
