html,
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #f8eade;
}

#navcontainer {
    height: 100vh;
    width: 20vw;
    overflow: hidden;
}

#navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    background-color: #f8eade;
}

.nav-item {
    height: 20%;
    width: 20vw;
    background-color: blueviolet;
}

.nav-item p {
    height: 2vh;
    width: 100%;
    font-family: Raleway;
    font-size: 2vh;
    text-align: center;
}

.nav-item img {
    height: 8vh;
    width: 100%;
}

#recipe-container {
    height: 100vh;
    width: 79vw;
    overflow: hidden;
}

#recipe {
    height: 100%;
    width: 60vw;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 12vw;
    padding-left: 12vw;
}

h2 {
    font-family: Amatic SC;
    font-size: 5vh;
    text-align: center;
    width: 100%;
}

.img-container {
    width: 100%;
}

.img-container img {
    display: block;
    width: 100%;
}

#ingredient-container {
    display: flex;
    flex-direction: row;
    font-family: Raleway;
    font-size: 2vh;
}

#amount {
    margin-right: 3vh;
    text-align: right;
}

#instruction-container {
    width: 100%
}

#instruction-container p {
    font-family: Raleway;
    font-size: 2vh;
}

h3 {
    font-family: Amatic SC;
    font-size: 3vh;
}
