html,
body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #f8eade;
}

h2 {
    font-family: Amatic SC;
    font-size: 5vh;
    text-align: center;
}

#navcontainer {
    height: 100vh;
    width: 20vw;
    overflow: hidden;
}

#navbar {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    background-color: #f8eade;
}

.nav-item {
    height: 10vw;
    width: 20vw;
    background-color: antiquewhite;
}

.nav-item p {
    height: 2vh;
    width: 100%;
    font-family: Raleway;
    font-size: 2vh;
    text-align: center;
}

.nav-item img {
    height: 8vh;
    width: 100%;
}

#recipe {
    height: 100vh;
    width: 79vw;
}
