html,
body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #f8eade;
}

h2 {
    font-family: Pacifico;
    font-size: 5vh;
    text-align: center;
}

#navbar {
    height: 100vh;
    width: 20vw;
    background-color: indianred;
    overflow-y: scroll;
}

.nav-item {
    height: 10vw;
    width: 100%;
    background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.15));
}

#recipe {
    height: 100vh;
    width: 79vw;
}
