:root {
    --button-size: 6.5vw;
}

body {
    width: calc(100vw - 16px);
    height: calc(100vh - 16px - 4px);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 8px;
    overflow: hidden;
}

header {
    background-color: white;
}

main {
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header {
    flex-basis: content;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 0;
}

canvas {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

button {
    width: var(--button-size);
    height: var(--button-size);
    display: flex;
    padding: calc(var(--button-size) / 5);
    margin: 8px;
    border: none;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button:active,
button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.36);
}

button.active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55), 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn-color:active,
.btn-color:hover {
    box-shadow: 0 3px 6px currentColor;
}

.btn-color.active {
    box-shadow: 0 6px 14px currentColor;
}

.btn-size {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/circle.svg);
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sizeWarning {
    display: none;
    height: 100%;
    width: 100%;
    background-color: white;
}

/* Media Query for tablets */
@media (orientation: portrait) and (max-width: 43em),
    (orientation: landscape) and (max-height: 43em) {
    body {
        background-color: #ffeaea;
    }
    #sizeWarning {
        display: block;
    }
    header,
    main {
        display: none;
    }
}
/* Media Query for small displays */
@media (min-width: 62em) {
    body {
        background-color: #eaffea;
    }
}
/* Media Query for large displays */
@media (min-width: 82em) {
    body {
        background-color: #eaeaff;
    }
}

@media (orientation: landscape) {
    :root {
        --button-size: 6.5vh;
    }

    body {
        flex-direction: row;
    }

    header {
        flex-direction: row;
    }

    .button-wrapper {
        flex-direction: column;
    }
}
